.content{
  display: grid;
  grid-template-areas: 
  "info form"
  "question form";
  grid-template-columns: 1.5fr 1fr;
}

@media (width <= 70em){
  .content{
    display: flex;
    flex-direction: column;
  }
}