 .content-response{
  grid-area: form;
  
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-self: end;
  width: 100%;
  max-width: 30.125rem;
  text-align: center;

  & .response-info {
    & .response-title{
      color: var(--content-primary);
      margin-bottom: 4px;
    }
    & .overline{
      color: var(--content-secondary);
    }
  }

  & .response-wrapper{
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
    display: flex;
    justify-content: center;
    color: var(--content-brand);
    font-family: var(--ff-rflex);
    font-weight: var(--fw-bold);
    font-size: 3rem;
    letter-spacing: 0;
    line-height: 1.5;
    & .response-card{
      gap: .25rem;
      padding-block: 1.125rem;
      padding-inline: 1.375rem;
      border-radius: 1.75rem;
    }
  }

  & button{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
}

@media (width <= 70em){

  .content-response{
    & button{
      margin-bottom: 4.25rem;
    }
  }
  
}