.switch {
  padding-top: 1.25rem;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  cursor: pointer;
}

.switch input {
  display: none;
}

.slider {
  position: relative;
  width: 30px;
  height: 20px;
  background-color: #ccc;
  border-radius: 999px;
  transition: background-color 0.3s;
}

.slider::before {
  content: "";
  position: absolute;
  left: 3px;
  top: 3px;
  width: 14px;
  height: 14px;
  background-color: white;
  border-radius: 50%;
  transition: transform 0.3s;
}

/* Ativo (checked) */
.switch input:checked + .slider {
  background: linear-gradient(135deg, #c084fc, #a855f7); /* lilás/roxo */
}

.switch input:checked + .slider::before {
  transform: translateX(10px);
}
